body{
    background-color: white;
    margin: 0;
        
}
#btn{
    background-color: white;
    color: blue;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1rem;
    font-weight: 600;
    outline: none;
    margin-top: 0.5rem;
    
}
:hover #btn{
    cursor: pointer;
    transition:ease-in ;
    transition-duration: 1.7s;
    color: white;
    background-color: rgb(33, 7, 177);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}
#trat{
    height: 25rem;
    width: 25rem;
    margin-left: 17rem;
    
}
#cab{
    margin-left: 18rem;
}
.head{
    display: flex;
    flex-direction: row;
    background-color: rgba(68, 21, 199, 0.3);
    margin-left: 3rem;
    
}
.head h2{
    text-decoration: none;
}
#bot{
    height: 20rem;
    width: 25rem;
}
#sp{
    color: blue;
    text-align: center;
    
}
.ben{
    text-align: center;
    padding: 5rem;  
}
.ben h1{
    color: blue;
}

#lery{
height: 15rem;
width: 15rem;

}
.gal{
    display: flex;
    justify-content: center;
flex-direction: row;
gap: 1rem;
}
.mag{
    display: flex;
    justify-content: center;
flex-direction: row; 
gap: 1rem;
margin-left: 20rem;
}
.come{
    color: rgb(4, 4, 133);
}


#til{
    text-align: center;
    color: blue;
}
.everything{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.stuff{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-family:'Segoe UI',;
    font-size: large;
    font-weight: 1px;
}
.rest{
    gap: 2rem;
    font-family:'Segoe UI',;
    font-size: large;
    font-weight: 1px;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.end{
    color: rgb(83, 178, 233);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.pro{
    text-align: center;
    margin-top: 3.5rem;
    margin-left: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.products{
    text-align: center;
    padding: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.mation{
    text-align: center;
    padding: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 10rem;
    font-size:large;
    align-items: center;
    margin-top: 0rem;
    
}
.write{
text-align:center;
margin-top: 0px;
font-family: Arial, Helvetica, sans-serif;
}
.logo h2{
    color: white;
    text-decoration: none;
}
.links{
    text-decoration: none;
}
#drone img{
    height: 35rem;
    width: 100%;
}

#drone span{
    position: absolute;
    color: rgb(27, 29, 1);
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
footer h3{
    color: white;
}
#drone span h2 {
margin-top: 0rem;
color: white;
font-weight: bolder;
}

.concen{
    justify-content: space-between;
    align-items: center;
  
}

.sding{
    display: grid;
    
}
.testi{
    font-size: x-large;
    font-family:'Segoe UI',;
    background-color: white;
    padding: 1rem;
}
.testi h3{
    color: blue;
    padding: 1rem;
    text-align: center;
}
.text h1{
    color: blue;
}
.pro h1{
    color: blue;
}
.products h3{
    color: blue;
}
#ab{
    color: blue;
}
.write h2{
    color: blue;
}
.links a {
    color: white;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(101, 80, 197);
    gap: 1rem;
    color: white;

}
footer span{
    font-size: large;
    color: white;
}
.pro h1{
    color: blue;
}
.products h3{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.qck{
   display: flex;
   flex-direction: column;
   margin-left: 3rem;
   justify-content: space-between;
   font-size: larger;
   margin-top: 2rem;
   margin-bottom: 2rem;
   font-family: Arial, Helvetica, sans-serif;
}
footer span{
    margin-top: 10rem;
    font-family: Arial, Helvetica, sans-serif;

}
.cntadd{
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: larger;
    margin-bottom: 2rem;
    gap: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.exp{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sdimg{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.write p {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sdimg #one{
    margin-top: 5rem;
    width: 15rem;
    height: 10rem;
    margin-left: 7rem;
}
.sdimg #two{
    width: 15rem;
    height: 10rem;
    margin-bottom: 3rem;
}
.text {
    font-size: x-large;
    font-family:'Segoe UI', ;
    font-family: Arial, Helvetica, sans-serif;
}